//mobile widths
.col-sm-1 {
	width: 8.3%;
}
.col-sm-2 {
	width: 16.6%;
}
.col-sm-3 {
	width: 24.9%;
}
.col-sm-4 {
	width: 33.2%;
}
.col-sm-5 {
	width: 41.5%;
}
.col-sm-6 {
	width: 50%;
}
.col-sm-7 {
	width: 58.1%;
}
.col-sm-8 {
	width: 66.4%;
}
.col-sm-9 {
	width: 74.7%;
}
.col-sm-10 {
	width: 83%;
}
.col-sm-11 {
	width: 91.3%;
}
.col-sm-12 {
	width: 100%;
}
//conditions and FIXES ----------------------------------->
@media only screen and (max-width: 800px) and (min-width: 419px) {
	.home_cont {
		position: absolute;
		top: 20%;
		left: 0;
		width: 100%;
		height: 70%;
	}
	.menu_block_l {
		position: absolute;
		left: 0%;
		top: 9%;
		width: 420px;
		height: 266px;
	}
	.svg_cont {
		position: relative;
		top: 0px;
	}
	.menu_block_r {
		position: absolute;
		right: 0%;
		bottom: 9%;
		width: 420px;
		height: 266px;
	}
	.hide_smallest {
		display: none;
		div {
			display: none;
		}
		span {
			display: none;
		}
	}
	.hide_resp_bg2 {
		display: none;
		div {
			display: none;
		}
		span {
			display: none;
		}
	}
}